doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title= demo.name
    meta(name='description', content=demo.description)
    link(href='../css/demo.css', rel='stylesheet')

    - for (var i in demo.scripts)
      script(src=demo.scripts[i])
    - for (var i in demo.styles)
      link(href=demo.styles[i], rel='stylesheet')
  body
    #progress
    include noncompatible
    script(src=demo.src)