doctype html
html(lang="en")
  head
    title= demo.name
    meta(name='description', content=demo.description)
    style.
      body {
        padding: 0; 
        margin: 0;
        background: gray;
      }
      #progress {
        position: absolute; 
        left: 50%; 
        top: 50%; 
        z-index: 9999;
      }
    - for (var i in demo.scripts)
      script(src=demo.scripts[i])
    - for (var i in demo.styles)
      link(href=demo.styles[i], rel='stylesheet')
  body
    #progress
    script(src=demo.src)