doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title= demo.name
    meta(name='description', content=demo.description)
    link(href='../css/demo.css', rel='stylesheet')
    style.
      h1.ci {
        position: absolute;
        left: 0px;
        top: 31px;
        margin: 0;
        padding: 5px;
        width: 100%;
        height: 51px;
        background: url(css/mercedes-benz-logo.png) 5px 5px no-repeat;
        text-indent: -9999px;
        z-index: 1;
        overflow: hidden;
        background-color: rgb(67, 65, 66);
        background-position-x: 85%;
      }

      hr.cj {
        background-color: rgb(67, 65, 66);
        height: 1px;
        color: rgb(67, 65, 66);
        position: absolute;
        z-index: 1;
        top: 91px;
        border: none;
        width: 100%;
      }

    - for (var i in demo.scripts)
      script(src=demo.scripts[i])
    - for (var i in demo.styles)
      link(href=demo.styles[i], rel='stylesheet')
  body
    h1.ci
    hr.cj
    #progress
    include noncompatible
    script(src=demo.src)