doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title= demo.name
    meta(name='description', content=demo.description)
    link(href='../css/demo.css', rel='stylesheet')
    style.
      h1.ci {
        position: absolute;
        left: 40px;
        top: 31px;
        margin: 0;
        padding: 0;
        width: 193px;
        height: 51px;
        background: background: url(css/mercedes-benz-logo.png) 0 0 no-repeat;
        text-indent: -9999px;
        z-index: 10;
        overflow: hidden;
      }

    - for (var i in demo.styles)
      link(href=demo.styles[i], rel='stylesheet')
  body
    - for (var i in demo.scripts)
      script(src=demo.scripts[i])
    h1.ci
    #progress
    include noncompatible
    script(src=demo.src)